.todoBox{
    width: 500px;
    height: fit-content;
    border-style: groove;
    border-color: black;
    margin: 10px;
}

h1{
    margin-left: 5px;
    background-color: lightgray;
}

.header {
    background-color: lightgray;
    padding-bottom: 10px;
}

.clearAll {
    margin-left: 15px;
}


input{
    margin-left: 20px;
    margin-top: 10px;
    width: 450px;
}

ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: fit-content;
    border-style: groove;
    box-sizing: border-box;
    margin: 5px;
}